@import 'styles/index.scss';

.employeeCard {
	width: 320px;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $spacing-m;
	background-color: $color-white;

	&__img {
	}
	&__content {
		display: flex;
		flex-direction: column;
		span {
			padding: $spacing-xs 0;
		}
		&-age,
		&-salary {
			font-size: $font-size-m;
			font-weight: $font-weight-light;
			color: $color-grey-2;
		}
		&-salary {
			color: $color-main;
		}
		&-name {
			font-size: $font-size-l;
			color: $color-black;
			font-weight: $font-weight-semiBold;
		}
	}
	&__actions {
		display: flex;
		justify-content: flex-end;
		span {
			padding: 0 $spacing-xxs;
		}
	}
}
